.head{
 display:flex;
  background-color:white;
  position:fixed;
  width:100%;
  height:70px;
  z-index:100;
}

.left-section{
  display:flex;
  justify-content:left;
  justify-content:space-between;
  align-items:center;
  width:150px;
  padding-left:10px;
  padding-right:10px;
}
.images{
  width:20px;
  padding-left:20px;
}

.middle-section{
  display:flex;
  justify-content:space-between;
  align-items:center;
 flex:1;
 margin-left:100px;
 margin-right:100px;
 padding-left:10px;
 padding-right:10px;
 max-width:500px;
}

.right-section{
  display:flex;
  justify-content:right;
  align-items:center;
  width:200px;
    padding-left:10px;
 padding-right:10px;
 gap:30px;
}

.icon{
  width:35px;
  padding-right:3px;
  cursor:pointer;
}
 


