.header{
  display:flex;
 align-items:center;
  justify-content:space-between;
  gap:20px;
    margin-bottom:60px;
}

.main{
 margin-left:60px;
 margin-bottom:70px;
}

.button{
  color:white;
  background-color:black;
  border:none;
  padding:10px 20px;
  font-weight:bold;
  border-radius:20px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  cursor:pointer;
}

.button:active{
  box-shadow:none;
  opacity:0.7;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap:16px;
  row-gap:40px;
}
 @media (max-width:750px) {
     .grid{
     grid-template-columns:1fr 1fr;
     }
  }
   
  @media(min-width:751px) and(max-width:999px){
 .grid{
     grid-template-columns:1fr 1fr 1fr;
     }
  }
  @media(min-width:1000px)  {
 .grid{
     grid-template-columns:1fr 1fr 1fr;
     }
  }

  .picture{
    width:100%;
    height:85%;
    object-fit:cover;
    border-radius:20px;
  }

  .project{
    display:flex;
    width:140px;
    padding:1px 10px;
    background-color:black;
    border-radius:30px;
    margin:10px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    margin-bottom:30px;
  }

    .indi{
    padding:5px 10px;
    text-decoration:none;
    color:white;
    }

    .project:active{
      box-shadow:none;
      opacity:0.8;
    }

    .indi:active{
       color:pink;
    }

body{
  font-family:arial;
  background:linear-gradient(135deg,
  #a8e6cf, #FF6A88, #ffd3b6);
}