 .picture-div{
 background-color:rgb(236, 222, 222);
 display:flex;
 align-items:center;
 justify-content:center;
 border-bottom-right-radius:200px;
 background-color:#f5eeee;
 }
 .picture{
  display:flex;
  width:250px;
  height:250px;
  object-fit:cover;
  border-radius:50%;

 }

 

 .text{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  color:#FF4500;
 }

  .link{
 display:flex;
    width:175px;
    padding:10px 20px;
    border-radius:30px;
  background-color:#FF4500;
  margin-top:20px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

.link:active{
  box-shadow:none;
  color:black;
  background-color:red;
}
.project{
  text-decoration:none;
  color:#3a3535;
}
 body{
  margin:0;
 background-color:#3a3535;
 margin-bottom:100px;
 }